.footer {
    background-color: var(--cor-primaria);
    color: white;
    margin-top: 80px;
    padding-top: 40px;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0 20px 40px 20px;
  }
  
  .footer-col {
    max-width: 300px;
    margin-bottom: 20px;
  }
  
  .footer-col h3,
  .footer-col h4 {
    margin-bottom: 15px;
  }
  
  .footer-bottom {
    text-align: center;
    padding: 15px;
    background-color: var(--cor-destaque);
    font-size: 14px;
  }
  