.navbar {
    background-color: var(--cor-primaria);
    padding: 18px 30px;
    display: flex;
    gap: 25px;
    align-items: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  